<h2>
	<i class="fa fa-cogs"></i> Arenas <span class="badge">x</span>
	<small>x attempts per arena</small>
</h2>

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>#</th>
			<th>Arena</th>
			<th>Status</th>
			<th>Done</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td><a href="#">x</a></td>
			<td>
				<span class="label label-success">
					<i class="fa fa-check"></i>
					Active
				</span>
			</td>
			<td>
				<span class="label label-primary">
					x / y
				</span>
			</td>
		</tr>
	</tbody>
</table>
