<h2>
	<i class="fa fa-cogs"></i> Arenas <span class="badge">{{ arenasCount }}</span>
	<small>{{ attemptsArena }} attempts per arena</small>
</h2>

<table class="table table-striped table-hover" style="font-size:22px">
	<thead>
		<tr>
			<th>#</th>
			<th>Arena</th>
			<th>Status</th>
			<th>Best Score</th>
			<th>TAG</th>
			<th>Done</th>
		</tr>
	</thead>
	<tbody>
		{% for arena in arenas %}
		<tr>
			<td>{{ loop.index }}.</td>
			<td>
				<!--<a href="#{{ arena['arena_id'] }}">-->
				{{ arena['name'] }}
				<!--</a>-->
			</td>
			<td>
				{% if arena['tournament']['status'] == "active" %}
					<span class="label label-success">
						<i class="fa fa-check"></i>
						{{ arena['tournament']['status'] }}
					</span>
				{% else %}
					<span class="label label-danger">
						<i class="fa fa-times"></i>
						{{ arena['tournament']['status'] }}
					</span>
				{% endif %}
			</td>
			<td><span class="label label-info">xxx.yyy.zzz</span></td>
			<td>TAG</td>
			<td>
				<span class="label label-primary">
					x / {{ maxAttemptsArena }}
				</span>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
