<h2>
	<i class="fa fa-cogs"></i> Arenas <span class="badge">{{ arenasCount }}</span>
	<small>{{ attemptsArena }} attempts per arena</small>
</h2>

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>#</th>
			<th>Arena</th>
			<th>Status</th>
			<th>Highscore</th>
			<th>Player</th>
			<th>Done</th>
		</tr>
	</thead>
	<tbody>
		{% for arena in arenas %}
		<tr>
			<td>{{ loop.index }}.</td>
			<td>
				<!--<a href="#{{ arena['arena_id'] }}">-->
				{{ arena['name'] }}
				<!--</a>-->
			</td>
			<td>
				{% if arena['tournament']['status'] == "active" %}
					<span class="label label-success">
						<i class="fa fa-check"></i>
						{{ arena['tournament']['status'] }}
					</span>
				{% else %}
					<span class="label label-danger">
						<i class="fa fa-times"></i>
						{{ arena['tournament']['status'] }}
					</span>
				{% endif %}
			</td>

			<td>
			{% for score in scores[arena['arena_id']] if score.points == '100.00' %}
				<span class="label label-info">
					{{ "{0:,}".format(score['score']).replace(',', '.') }}
				</span>
			{% endfor %}
			</td>

			<td>
				{% for score in scores[arena['arena_id']] if score.points == '100.00' %}
					{% for person in standings if person['player_id'] == score['player_id'] %}
						{{ person['name'] }}
					{% endfor %}
				{% endfor %}
			</td>

			<td>
				{% set percent = arenasPercent[arena['arena_id']] %}

				{% if percent == 100 %}
				<span class="label label-success">
				{% elif percent >= 50 %}
				<span class="label label-warning">
				{% elif percent >= 0 %}
				<span class="label label-danger">

				{% endif %}

				{{ arenaScoreCount[arena['arena_id']] }} / {{ maxAttemptsArena }}
				</span>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
