<h2>
	<i class="fa fa-users"></i> Standings <span class="badge">{{ from }} - {{ to }}</span>
	<small>
		{% if from == "1" %}
			Top 8 = A playoffs
		{% elif from == "9" %}
			Top 16 = B playoffs
		{% endif %}
	</small>
</h2>

<table class="table table-striped table-hover" style="font-size:22px">
	<thead>
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>Points</th>
			<th>Done</th>
		</tr>
	</thead>
	<tbody>
		{% for person in standings %}
		{% if (loop.index >= from|int) and (loop.index <= to|int) %}

		<tr>
			<td>{{ person['position'] }}.</td>
			<td>
				<!--<a href="#{{ person['player_id'] }}">-->
					{{ person['name'] }}
				<!--</a>-->
			</td>
			<td>
				<span class="label label-info">{{ person['points'] }}</span>
			</td>
			<td>
				<span class="label label-primary">
					x / y
				</span>
			</td>
		</tr>
		{% endif %}
		{% endfor %}
	</tbody>
</table>
